templates/action_log_record.dtd

<?xml version="1.0" encoding="utf-8" ?>
<!ELEMENT action_log   (record)+ >
<!ELEMENT record       (action,details,user_name,tenant_name,timestamp) >
<!ELEMENT action       (#PCDATA)>
<!ELEMENT details      (#PCDATA)>
<!ELEMENT user_name    (#PCDATA)>
<!ELEMENT tenant_name  (#PCDATA)>
<!ELEMENT timestamp    (#PCDATA)>
